        <div>
            <h1>శ్రీ వెంకటేశ్వర గానామృతము</h1>
            <br/>
            <h3>(గోవిందుడు పలికించిన పలుకులు)</h3>
            <br/>
            <div>
                భగవత్ స్వరూపులైన పాఠకులకు హృదయపూర్వక
వందనములు. నేను పెద్ద చదువులు చదువలేదు. ఎటువంటి విద్యలు
నేర్వలేదు. ఎటువంటి పాండిత్యము నా కడలేదు. మా ఇంటి ఇలవేల్పు
శ్రీ వేంక టేశ్వరస్వామిని భక్తితో కొలుచుటయే నాకు తెలిసిన విద్య.
ఒక శనివారమునాడు మా స్వగృహమందు ఉన్న దేవుని మందిరము
నందు స్వామికి దీపారాధన చేసి ధ్యానము చేసుకుంటున్న
సమయములో నా మదిలో శ్రీ వేంకటేశ్వరస్వామి లీలలు మెదిలినవి.
చాలా మధురముగా ఉన్న ఆ పదాలను కూర్చి వ్రాయగా శ్రీ వేంకటేశ్వర
గానామృతముగా 335 చరణాలు రూపు దాల్చినవి. నా భర్త శ్రీయుత
అప్పల బాలయ్య గారు ప్రతి చరణము ఆలకించి మధురముగ ఉన్నది
అని నన్ను ఎంతగానో ప్రోత్సహించినారు. మా గురువుగారు,
మా ఆత్మీయ, అభిమాన, గౌరవనీయులు, సరస్వతీ పుత్ర, సహస్రపద్మ,
ప్రణవ పీఠాధిపతి, త్రిభాషా మహాసహస్రావధాని, వాగ్దేవి వర పుత్రులైన
శ్రీ వద్దిపర్తి పద్మాకర్ గారు మేము కోరిన వెంటనే వారి యొక్క
మంగళాశాసనము మాకు లభించుటమనేది మా భాగ్యంగా భావించి
చాల సంతోషముతో వారికి మా దంపతులు ఇరువురము కృతజ్ఞతలను
తెలుపుకొనుచున్నాము.
            </div>
            <br/>
            <div>
                మా శ్రేయోభిలాషి, మా ఆత్మీయులు, చిర పరిచితులు అయిన
శ్రీ కవి పండితులు, తెలుగు పండిట్ గౌరవనీయులు ఎంతో మంది
విద్యార్థులను తీర్చిదిద్దిన మహనీయులు శ్రీ అనగాని సౌభాగ్యరావుగారు
నాచేత గోవిందుడు ప్రాయించిన శ్రీ వేంకటేశ్వర గానామృతమును
            </div>
            <br/>
            <div>
                ఆలకించి అక్షర దోషము లేకుండ తీర్చిదిద్దిన మహనీయులు.
మేము కోరిన వెంటనే వారి యొక్క శుభాశీస్సులు మాకు లభించుట
మా అదృష్టముగా భావించుచున్నాము.
            </div>
            <br/>
            <div>
                మా దంపతులు ఇరువురము వారికి మా కృతజ్ఞతలు
తెలుపుకొనుచున్నాము.
            </div>
            <br/>
            <div>
                ఈ వేంకటేశ్వర గానామృతము విశ్వమంతా భక్తుల మదిలో
వటవృక్షములాగా వ్యావీంచాలని శ్రీ వేంకటేశ్వరస్వామిని
సదా ధ్యానిస్తూ...
            </div>
            <br/>
            <div class="alignRight"><strong>
                అలివేలుమంగా పద్మావతి సమేత<br/>
శ్రీ వేంకటేశ్వరస్వామి భక్తురాలు<br/>
అప్పల బాలరత్తం<br/>
1-3-2006<br/></strong>
            </div>
            <br/>
            <div>
                <strong>గమనిక :</strong> (ఈ వేంకటేశ్వర గానామృతము ఎవరైనా<br/>
ప్రచురణ చేయదలచిన యెడల రచయిత్రి దివ్యశ్రీ<br/>
అప్పల బాలరత్నం గారి వారసులు యొక్క<br/>
అనుమతి పొందవలెను)<br/>
            </div>