<div class="alignleft">
    <h6>Events</h6>
</div>
<div>
    16-04-2017 శ్రీ వేంకటేశ్వర గానామృత కళ్యాణం బంటుమిల్లి , లక్ష్మీపురం లో.
ఏలూరు వాస్తవ్వులు అయిన శ్రీమాన్ అప్పల బాలయ్య గారి ధర్మపత్ని దివ్వశ్రీ అప్పల బాలరత్నమ్మ గారిచే రచించబడిన శ్రీ వేంకటేశ్వర గానామృతము. వారి కూమార్తె అయిన ఓలేటి గీతా పరమేశ్వరరావు మరియు వారి బృందంచే శ్రీ వేంకటేశ్వర గానామృత కళ్యాణం జరిపించబడును మాదేటి శ్రీ వెంకటేశ్వర బ్రహ్మర్జున గుప్త గారు , సత్య నాగ్ కన్యకా పరమేశ్వరి దంపతులు వారిచే స్వగ్రామము నందు జరుగును .
</div>
<div class="alignleft">
ఇట్లు<br/>
ఓలేటి గీతా పరమేశ్వరరావు -8712340550,<br/>
బాలరత్నమా బృందం,<br/>
మచిలీపట్టణం .<br/>
</div>